includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
    ignoreErrors:
        - '#Access to an undefined property [a-zA-Z0-9\\_]+::\$[A-Za-z0-9\\_]#'

    level: 0
